<div class="page-header">
	<h1><%= @user.full_name %></h1>
	<h3><%= link_to "add friend", new_user_friendship_path(friend_id: @user), class: "btn btn-success" %></h3>
	<% if @statuses %>
		<% @statuses.each do |status| %>
			<p><%= status.content %></p>
		<% end %>
	<% end %>
</div>